.swiper{

    &__names{
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        color: #01384D;
        font-family: 'Josefin Sans';
    }
    &__name{
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        color: #01384D;
        font-family: 'Josefin Sans';
        text-align: center;
    }

    &__text{
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #01384D;
        opacity: 0.7;
        font-family: 'Josefin Sans';
    }

    &__list{
        border: 2px solid #01384D;
        box-sizing: border-box;
        border-radius: 5px;
        height: 380px;
    }
}



@media (max-width:380px) {
    
    // .swiper__list{
    //     margin-left: 10px;
    //     border: 2px solid #01384D;
    // }

    .swiper__name{
        font-size: 28px;
        line-height: 28px;
    }
}

@media (max-width:1000px) {
    
    .swiper{

        &__name{
            font-size: 45px;
            line-height: 55px;
        }
        &__text{
            font-size: 16px;
        }
        &__lists{
            margin: 10px;
            width: 330px;
            border: 3px solid #01384D;
            border-radius: 5px;
        }
        &__img{
            width: 328px;
            margin-left: -3.5px;
            border-radius: 5px;
        }
    }    
}
@media (max-width:770px) {
    
    .swiper{

        &__lists{
            width: 500px;
            margin-left: 15px;
        }
        &__img{
            width: 495px;
        }
    }
}

@media (max-width:600px) {
    
    .swiper{

        &__lists{
            width: 450px;
            margin-left: 40px;
        }
        &__img{
            width: 448px;
        }
    }
}
@media (max-width:530px) {
    
    .swiper{

        &__lists{
            width: 450px;
            margin-left: 25px;
        }
        &__img{
            width: 446px;
        }
    }
}

@media (max-width:500px) {
    
    .swiper{

        &__lists{
            width: 400px;
            margin-left: 35px;
        }
        &__img{
            width: 397px;
        }
    }
}

@media (max-width:430px) {
    
    .swiper{

        &__lists{
            width: 380px;
            margin-left: 15px;
        }
        &__img{
            width: 377px;
        }
    }
}

@media (max-width:420px) {
    
    .swiper{

        &__lists{
            width: 360px;
            margin-left: 12px;
        }
        &__img{
            width: 357px;
        }
    }
}

@media (max-width:400px) {
    
    .swiper{

        &__lists{
            width: 340px;
            margin-left: 10px;
        }
        &__img{
            width: 337px;
        }
    }
}

@media (max-width:380px) {
    
    .swiper{

        &__lists{
            width: 340px;
            margin-left: 10px;
        }
        &__img{
            width: 337px;
        }
    }
}
@media (max-width:370px) {
    
    .swiper{

        &__lists{
            width: 320px;
            margin-left: 10px;
        }
        &__img{
            width: 317px;
        }
        &__name{
            font-size: 32px;
        }
    }
}

@media (max-width:340px) {
    
    .swiper{

        &__lists{
            width: 300px;
            margin-left: 15px;
        }
        &__img{
            width: 297px;
        }
        &__name{
            font-size: 32px;
        }
    }
}