.swiper{

    &__names{
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        color: #01384D;
        font-family: 'Josefin Sans';
    }
    &__name{
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        color: #01384D;
        font-family: 'Josefin Sans';
        text-align: center;
    }

    &__text{
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #01384D;
        opacity: 0.7;
        font-family: 'Josefin Sans';
    }

    &__list{
        border: 2px solid #01384D;
        box-sizing: border-box;
        border-radius: 5px;
        height: 380px;
    }
}


@media (max-width:380px) {
    
    .swiper__list{
        background-color: red;
        margin-left: 10px;
    }

    .swiper__name{
        font-size: 28px;
        line-height: 28px;
    }
}