.aside{

    &__btn{
        background: #1FCA25;
        border-radius: 5px;
        width: 140px;
        height: 34px;
        border: 2px solid #1FCA25;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        color: #fff;
        letter-spacing: 0.05rem;
        transition: 0.8s;

        &:hover{
            background-color: #fff;
            color: #1FCA25;
            transform: scale(0.85);
        }
    }

    &__img{
        width: 650px;
        transition: 1.2s;

        &:hover{
            transform: scale(0.8);
        }
    }
    &__names{
        font-family: 'Josefin Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        opacity: 0.6;
        color: #01384D;
    }
    &__name{
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        color: #01384D;
        font-family: 'Josefin Sans';
    }

    &__number{
        font-family: 'Josefin Sans';
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        color: #01384D;
    }
    &__list{
        margin-left: -15px;
    }

    &__num{
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        color: #FF5D5D;
        opacity: 0.8;
        text-decoration-line: line-through;
    }

   &__title{
       display: flex;
       align-items: center;
   }

   &__numbers{
       margin-left: 10px;
       font-family: 'Josefin Sans';
       font-weight: 700;
       font-size: 25px;
       line-height: 30px;
       color: #01384D;
   }

   &__button{
    border: 2px solid #01384D;
    box-sizing: border-box;
    border-radius: 5px;
    width: 180px;
    height: 45px;
    background-color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #01384D;
    transition: 0.8s;

    &:hover{
        transform: scale(0.9);
    }
   }
}

@media (max-width:400px) {

    .aside__list{
        margin-bottom: -80px;
        margin-left: -40px;
    }

    .aside__name{
        font-size: 30px;
    }
}
