.sublimepage{
    margin-top: 50px;

    &__name{
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        color: #01384D;
        font-family: 'Josefin Sans';
    }
    &__text{
        font-weight: 600;
        font-size: 30px;
        line-height: 30px;
        color: #01384D;
    }

    &__texts{
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #01384D;
    }

    &__btn{
        border: 2px solid #01384D;
        box-sizing: border-box;
        border-radius: 5px;
        width: 280px;
        height: 50px;
        background-color: #fff;
    }

    &__button{
        width: 131.5px;
        height: 8px;
        border: 1px solid #01384D;
    }
    &__button:active{
        background-color: #01384D;
    }
    &__list{
        margin-top: -12px;
    }

    &__pictures{
        width: 525px;
        height: 300px;
    }
}

@media (max-width:380px) {
    
    .sublimepage{

        &__button{
            width: 86.5px;
        }
        &__list{
            margin-top: -11px;
        }

        &__title{
            margin-left: 18px;
        }
    }
}

.card{
    border: none;
}