.section{

    &__number{
        font-size: 120px;
        line-height: 100px;
        color: #01384D;
        font-weight: bold;
        font-family: 'Josefin Sans';
    }

    &__numbers{
        font-size: 120px;
        line-height: 100px;
        color: #01384D;
        font-weight: bold;
        font-family: 'Josefin Sans';
    }

    &__text{
        font-size: 20px;
        line-height: 28px;
        font-weight: bold;
        color: #01384D;
        font-family: 'Josefin Sans';
    }

    &__page{
        transition: 0.8s;

        &:hover{
            transform: scale(1.1);
        }
    }
}

@media (max-width:380px) {
    
    .section{

        &__number, &__numbers{
            font-size: 40px;
            line-height: 50px;
        }

        &__text{
            font-size: 16px;
        }
    }
}

@media (max-width:500px) {
    
    .section{

        &__number, &__numbers{
            font-size: 70px;
            line-height: 60px;
        }

        &__text{
            font-size: 16px;
        }
    }
}

@media (max-width:800px) {
    
    .section{

        &__number, &__numbers{
            font-size: 80px;
            line-height: 60px;
        }

        &__text{
            font-size: 18px;
        }
    }
}
@media (max-width:900px) {
    
    .section{

        &__number, &__numbers{
            font-size: 70px;
            line-height: 60px;
        }

        &__text{
            font-size: 18px;
        }
    }
}
@media (max-width:950px) {
    
    .section{

        &__number, &__numbers{
            font-size: 75px;
            line-height: 60px;
        }

        &__text{
            font-size: 18px;
        }
    }
}