.footer{

    &__link{
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color:  #0A142F;
        text-decoration: none;
        font-family: 'Josefin Sans';
        margin: 15px;
    }

    &__imgs{
        height: 50px;
    }

    &__nav{
        display: flex;
    }

    &__lists{
        width: 120px;
        height: 50px;
        margin-right: 3px;
        background-color: #0A142F;
        color: #fff;
        text-align: center;
    }
    &__text{
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        mix-blend-mode: normal;
        opacity: 0.5;
        color: #01384D;
    }

    &__img{
        width: 40px;
        height: 40px;
        margin-top: 12px;
        margin-left: 15px;
    }
}

@media (max-width:380px) {
    

    .footer{

        &__text{
            font-size: 12px;
        }

        &__lists{
            width: 110px;
            height: 45px;
            margin-right: 3px;
            background-color: #0A142F;
            color: #fff;
            text-align: center;
            font-size: 13px;
        }

        &__links{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid #01384D;
            margin-top: 10px;
            margin-left: 15px;
        }
        &__img{
            margin: 3px;
            width: 30px;
            height: 30px;
        }
        
    }
}

@media (max-width:450px) {
    
    .footer{

        &__link{
            font-size: 10px;
        }
        &__nav{
            display: flex;
            justify-content: center;
        }
    }
}

@media (max-width:500px) {
    
    .footer{

        &__link{
            font-size: 14px;
            line-height: 18px;
        }
        &__nav{
            display: flex;
            justify-content: center;
        }
    }
}