.sectionpage{

    &__name{
        text-align: center;
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: #01384D;
    }

    &__list{
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0 35px;
    }
    &__item, &__items{
        margin: 0px 20px;
    }
    &__link{
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        color: #01384D;
    }

    &__link:active{
        border-bottom: 2px solid #01384D;
        transition: 0.8s;
    }

    &__items{
        text-align: center;
    }
    &__links{
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #01384D;
        position: relative;
        top: 20%;
        left:0%;
        outline: none;
        border: none;
        background: #E6EBED;
        border-radius: 5px;
        width: 130px;
        height: 45px;
    }
}

@media (max-width:380px) {
    
    .sectionpage{

        &__name{
            font-size: 35px;
        }
    }
}