.sublime{

    &__page{
        background: #F6FBFF;
        border: 1px solid #C7DFF5;
        box-sizing: border-box;
    }

    &__img{
        width: 600px;
        transition: 1.2s;

        &:hover{
            transform: scale(0.8);
        }
    }

    &__name{
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        color: #01384D;
        font-family: 'Josefin Sans';
    }

    &__names{
        font-family: 'Josefin Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        opacity: 0.6;
        color: #01384D;
    }

    &__number{
        font-family: 'Josefin Sans';
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        color: #01384D;
    }

    &__btn{
        background: #FF6B6B;
        border-radius: 5px;
        width: 190px;
        height: 38px;
        border: 2px solid #FF6B6B;
        color: #fff;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        font-family: 'Josefin Sans';
        letter-spacing: 1.5px;
        transition: 0.7s;

        &:hover{
            background-color: #fff;
            color: #FF6B6B;
            transform: scale(0.85);
        }
    }

    &__btn:active{
        background-color: #F6FBFF;
        color: #FF6B6B;
    }

    &__button{
        border: 2px solid #01384D;
        box-sizing: border-box;
        border-radius: 5px;
        width: 180px;
        height: 45px;
        background-color: #fff;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #01384D;
        transition: 0.5s;

        &:hover{
            transform: scale(0.9);
            background-color:  #e3f0fc;
        }
    }

    &__text{
        font-family: 'Josefin Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        opacity: 0.6;
        color: #01384D;
    }

    &__list{
        margin-left: -15px;
    }

    &__full{
        margin-left: -40px;
    }

    &__zooms{
        position: absolute;
        top: -5%;
        left: 80%;
        background: #D9E1E7;
        border-radius: 50%;
        width: 55px;
        height: 52px;
        border: transparent;
    }

    &__picture{
        width: 400px;
    }

    &__zoom{
        width: 35px;
        height: 35px;
    }
}

.sublime-modal{
    width: 500px;
    height: 360px;
    background-color: hsl(270, 33%, 93%);
    border-radius: 5px;
}


span{
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #01384D;
}

@media (max-width:500px) {

    .sublime__list{
        margin-bottom: -80px;
        margin-left: -40px;
    }

    .sublime__full{
        margin-left: 0px;
    }
    .sublime__nums{
        margin-left: 55px;
    }
}
@media (max-width:600px) {

    .sublime__list{
        margin-bottom: -80px;
        margin-left: -40px;
    }

    .sublime__full{
        margin-left: 0px;
    }
    .sublime__nums{
        margin-left: 55px;
    }
}
@media (max-width:700px) {

    .sublime__list{
        margin-bottom: -80px;
        margin-left: -70px;
    }

    .sublime__full{
        margin-left: 0px;
    }
    .sublime__nums{
        margin-left: 55px;
    }
    .sublime__text{
        padding-top: 20px;
    }
}

@media (max-width:400px) {

    .sublime__list{
        margin-bottom: -80px;
        margin-left: -40px;
    }

    .sublime__full{
        margin-left: 0px;
    }
    .sublime__nums{
        // margin-left: 55px;
    }
}

@media (max-width:500px) {
    
    .sublime-modal{
        width: 440px;
    }
    .sublime-picture{
        width: 350px;
    }
    .sublime__list{
        margin-bottom: -90px;
        margin-left: -60px;
    }

}

@media (max-width:450px) {
    
    .sublime-modal{
        width: 400px;
    }

    .sublime-picture{
        width: 300px;
    }
    .sublime__list{
        margin-bottom: -80px;
        margin-left: -40px;
    }

}

@media (max-width:400px) {
    
    .sublime-modal{
        width: 360px;
    }

    .sublime-picture{
        width: 330px;
    }

    .sublime__zooms{
        width: 45px;
        height: 45px;
    }

    .sublime__zoom{
        width: 30px;
        height: 30px;
    }
    .sublime{

        &__text{
            font-size: 14px;
            line-height: 23px;
        }

        &__name{
            font-size: 30px;
        }
    }
}
