.box{
    padding-top: 25px;
    margin-top: 25px;

    &__names{
        text-align: center;
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        color: #01384D;
        font-family: 'Josefin Sans';
    }

    &__name{
        font-weight: 600;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        color: #01384D;
        font-family: 'Josefin Sans';
    }

    

    &__text{
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #01384D;
        font-family: 'Josefin Sans';
    }

    &__btn{
        background: #01384D;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: transparent;
        // text-align: center;
        position: absolute;
        top: 29%;
        left: 41%;
    }

    &__img{
        margin:5px;
        margin-left: 10px;
    }
}

@media (max-width:370px) {
    
    .box{

        &__names{
            font-weight: 700;
            font-size: 28px;
            line-height: 36px;
        }

        &__name{
            font-weight: 600;
            font-size: 26px;
            line-height: 26px;
        }

        &__text{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }


    }
    .card{
        width: 320px;
        margin-left: -15px;
    }
}

@media (max-width:420px) {
    
    .box{

        &__names{
            font-weight: 700;
            font-size: 28px;
            line-height: 36px;
        }

        &__name{
            font-weight: 600;
            font-size: 26px;
            line-height: 26px;
        }

        &__text{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }


    }
    .card{
        width: 340px;
        margin-left: -45px;
    }

    &__video{
        width: 100%;
        height: 100%;
    }
}


@media (max-width:400px) {
    
    .box{

        &__video{
            width: 100%;
            border: 2px solid #01384D;
            height: 100%;
            border-radius: 2px;
        }
    }
}
@media (max-width:420px) {
    
    .box{

        &__video{
            width: 100%;
            border: 2px solid #01384D;
            height: 100%;
            border-radius: 2px;
            margin-left: 25px;
        }
        &__text{
            margin-left: 30px;
        }
    }
}

@media (max-width:500px) {
    
    .box{
        &__video{
            width: 100%;
        }
    }
}
@media (max-width:600px) {
    
    .box{
        &__video{
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width:700px) {
    
    .box{
        &__video{
            width: 580px;
            height: 100%;
            margin-left: -80px;
        }
    }
}
@media (max-width:800px) {
    
    .box{
        &__video{
            width: 600px;
            height: 100%;
            margin-left: -90px;
        }
    }
}

@media (min-width:770px) {
    
    .box{
        &__video{
            width: 700px;
            height: 100%;
            margin-left: -50px;
        }

        
        &__text{
            width: 520px;
            margin-left: 25px;
        }

        &__name{
            width: 250px;
            margin-left: 95px;
        }
    }
}